.header {
  width: 100vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 90%;
  border: thin solid black;
  height: 100%;
  display: flex;
  justify-content: row;
  justify-content: center;
  align-items: center;
}
