@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}



@media only screen and (max-width: 767px) {
  /* styles for phone screens */
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* styles for tablets */
}
