@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

body > * {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

body > * > * {
  width: 80%;
  border: thin solid black;
}

@media only screen and (max-width: 767px) {
  /* styles for phone screens */

  body > * {
    width: 100%;
    border: thin solid black;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* styles for tablets */

  body > * {
    width: 100%;
    border: thin solid black;
  }
}
